* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk';
}

.container {
    background-image: url("banner_bg_image.png");
    width: 100%;
    height: 1000px;

}

.logo {

}

.header_container {
    width: 85%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    

}

.header_container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
    font-size: 18px;
    width: 75%;

}

.header_container a {
    text-decoration: none;
    color: black;

}

.start {
    width: 200px;
    height: 40px;
    color: black;
    border-radius: 20px;
    padding: auto;
    font-size: 17px;
    background-color: transparent;
}

.start:hover {

    background: linear-gradient(270deg, #682FFF 0%, #CB38FF 100%);

}

.hero_content {
    text-align: center;

}

.best_text {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: #111111;
    margin-top: 100px;
}

.intro_text {
    font-size: 60px;
    font-weight: 600;
    line-height: 64px;
    color: rgb(17, 17, 17);
    text-align: center;
    margin-top: 10px;

}

.hero_para {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: rgb(106, 106, 106);
    text-align: center;
    margin-top: 20px;
}

.detail {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: rgb(106, 106, 106);
    text-align: center;
}

.hero_button {
    width: 250px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 40px;
    padding: auto;
    font-size: 17px;
    background: linear-gradient(270deg, #682FFF 0%, #CB38FF 100%);
    ;
    margin-top: 40px;
}

.hero_button:hover {
    background: linear-gradient(270deg, #682FFF 0%, #CB38FF 100%);
    transition: all 100ms ease-in;
}

#home {
    color: rgba(203, 56, 255, 1);
}

#services:hover {
    color: rgba(203, 56, 255, 1);
}

#pages:hover {
    color: rgba(203, 56, 255, 1);
}

#proj:hover {
    color: rgba(203, 56, 255, 1);
}

#news:hover {
    color: rgba(203, 56, 255, 1);
}

#cont:hover {
    color: rgba(203, 56, 255, 1);
}

.hero_image {
    width: 85%;
    margin: 100px auto;
    border: 10px solid black;
    border-radius: 30px;


}

.dash_img {

    width: 100%;
    border-radius: 30px;

}

.main_trust {
    margin-top: 500px;
    height: 300px;

}

.trust_container {

    text-align: center;
    width: 85%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;

}

.image_slider {
    width: 85%;
    display: flex;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
    gap: 10px;


}

.imagebox_1 {
    border: 1px solid #E5E5E5;
    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;
}

.imagebox_1:hover {

    border: 1px solid black;
}

.card_content {
    width: 85%;
    margin: 10px auto;

    text-align: center;
}

.pop {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.feat {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}

.card_box {
    width: 85%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;


}

.card1 {

    width: 100%;
    height: 250px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: var(--white-color);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;



}

#icon {
    background: #F8F1FF;
    ;
    padding: 20px;
    border-radius: 50px;
    font-size: 36px;
    height: 80px;
    width: 80px;
    line-height: 40px;

}

.content_desc {
    width: 85%;

    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #6A6A6A;

}

.perform_main {
    width: 85%;

    margin: 100px auto;
    display: flex;
}

.leftbox {
    width: 50%;
}

.track {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.achieve {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    margin-top: 10px;
}

.recent {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 50px;
}

#flex_para {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    color: #111111;
    padding: 5px;

}

.rightbox {
    position: relative;

}

.main_rightimg {
    max-width: 100%;
    height: 400px;
    margin-top: 80px;
}

.revene_img {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 340px;

    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.real_img {
    position: absolute;
    top: 240px;
    left: 340px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.footer_sasen
{
    background-image: url("banner_bg_image.png");
    width: 100%;
    height: 400px;
    
}
.section_footer
{
    width: 85%;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    padding-top: 80px;
   
}
.first_footer 
{
   
}
.combine
{
    margin-top: 20px;
     color: #111111;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.social_links
{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
#links
{
    list-style: none;
    width: 44px;
    height: 44px;
    line-height: 48px;
    font-size: 24px;
    color: #111111;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}
#policy
{
    list-style: none;
    margin-top: 20px;
}
#about
{
    list-style: none;
    margin-top: 20px;
}
#sub_para
{
    margin-top: 20px;
}
.email
{
    width: 350px;
    margin-top: 32px;
    background-color: #ffff;
    padding: 17px 128px 17px 30px;
    border-radius: 60px;
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: #6A6A6A;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}

.submit
{
   
    margin: 20px 10px;
    width: 150px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 55px;
    background: linear-gradient(270deg, #CB38FF 0%, #682FFF 100%);
    
}